* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

label {
    color: #fff;
}

#conteudo-caixa {
    background: #0087c3;
    width: 510px;
    height: 310px;
    margin: 200px auto;
    padding: 20px 20px;
    border-radius: 3px;
}

#logo-zimbra img {
    width: 163px;
    height: 36px;
}

#box-login {
    margin-top: 10px;
    padding: 20px;
}

#login, #password {
    display: flex;
    justify-content: space-between;
}

#login input {
    width: 65%;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    padding: 0px;
    border-radius: 5px;
}

#password input {
    width: 65%;
    height: 20px;
    border: 1px solid #fff;
    padding: 0px;
    border-radius: 5px;
}

#buttons {
    width: 65%;
    margin-top: 10px;
    text-align: right;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons a {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 4px 6px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

#buttons #conect {
    font-size: .9em;
    margin-left: -85px;
    color: #fff;
}

#separador {
    margin-top: 20px;
    border-bottom: 1px solid #fff;
}

#version {
    margin-top: 15px;
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#version #versao, #version #what-is {
    color: #fff;
}

#version select {
    width: 50%;
}



