@keyframes animation-perfil {
    from {
        width: 100px;
        height: 100px;
        border-radius: 75px;
    }

    to {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
}

@keyframes animation-icon {
    from {
        font-size: 15px;
        transition: 500ms;
    }

    to {
        font-size: 18px;
        transition: 500ms;
    }
}





body, html {
    margin: 0;
    color: #000;
    width: 100%;
    height: 100%;
    font-family: 'DM Mono', monospace;
}

h2, h3 {
    color: #fff;
    opacity: 0.8;
    font-size: 1em;
}

.caixa1,
.caixa2,
.caixa3,
.caixa4 {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url('../image/caixa1.jpg');
}

.caixa2 {
    background-image: url('../image/caixa2.jpg');
}

.caixa3 {
    background-image: url('../image/caixa3.jpg');
}

.caixa4 {   
    background-image: url(../image/caixa4.jpg);
}

/*CONTEUDOS DA CAIXA 1 E 2*/

#conteudo1 {
    position: absolute;
    top: 20%;
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.caixa1 .conteudo-caixa1 img {

    animation-name: animation-perfil;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 100px;
    height: 100px;
    border-radius: 75px;
}

.descricao1 {
    width: 70%;
    margin: 0 auto;
    letter-spacing: 0.2px;
    line-height: 23px;
    font-size: 1em;
    padding: 10px;
    color: #fff;
    opacity: 0.6;
}

.caixa2 .conteudo-caixa1 img {
    width: 100px;
    height: 100px;
}


section#icones-tec img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.caixa2 img.github {
    padding-top: 40px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #cecece;
} 




/*CONTEUDOS CAIXA 3*/

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#conteudo-lista .forms img {
    width: 50px;
    height: 50px;
}

#navegacao {
    padding: 50px 100px;
}

#navegacao a {
    padding: 15px;
    color: #fff;
}


li.forms {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
    line-height: 50px;
}

section#logo {
    text-align: center;
}

section#logo img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}

section#logo h3 {
    display: inline-block;
    opacity: 0.9;
    color: #ccc;
}

section#conteudos {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    
}

#cont-footer {
    width: 520px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: rgba(0.5,0.9,0,0.2);
    border-radius: 10px;
}

section#icons {
    width: 50%;
    max-width: 620px;
    height: 60px;
    display: flex;
    justify-content: space-around ;
    margin: 100px auto;
}

section#icons img {
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
}

footer span#autor {
    display: block;
    text-align: center;
}

footer span#autor a {
    text-align: center;
    color: red;
}

footer span#sites {
    display: block;
    text-align: center;
}

footer span#sites a{
    display: block;
    text-align: center;
    color: #ccc;
}


footer span.emoji {
    display: inline-block;
    box-sizing: border-box;
    animation-name: animation-icon;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 15px;
    margin-left: 10px;
}










