body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    background: url(https://image.freepik.com/vetores-gratis/abstrato-branco-em-estilo-de-papel-3d_23-2148398981.jpg) fixed no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: auto;
}

h3 {
    opacity: 0.8;
    color: #fff;
}

p {
    opacity: 0.8;
    color: #fff;
    font-weight: bold;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

header {
    width: auto;
    height: 50px;
    background-color: rgba(67, 94, 243,0.6);
    
    display: flex;
    justify-content: flex-end;
}

header img {
    width: 25px;
    height: 25px;
    padding: 10px;
    align-items: center;
}

#container {
    width: 980px;
    margin: 10% auto;
}

#perfil {
    background-color: rgba(67, 94, 243,0.7);
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-right: 30px;
    transition: 500ms;
}

#perfil:hover {
    background-color: rgb(67, 94, 243) ;
    transition: 500ms;
}

#perfil img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.descricao {
    letter-spacing: 0.5;
    line-height: 22px;
    font-size: 16px;
    color: #ece8f7ce;
    opacity: 1;
    text-align: justify;
    border-bottom: 1px solid white;
}

.descricao a {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    transition: 600ms;
}

.descricao a:hover {
    font-size: 18px;
    transition: 600ms;
    color: red;
}

#navegacao {
    letter-spacing: 0.5;
    line-height: 22px;
    font-size: 16px;
    color: #cecece;
    text-align: justify;
    margin-top: 50px;
    transition: 500ms;
}

nav a {
    letter-spacing: 0.5;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 500ms;
    display: block;
    background: url(https://image.flaticon.com/icons/svg/1179/1179318.svg) no-repeat right;
    background-size: 28px;
}

nav a:hover {
    font-size: 18px;
    font-weight: bold;
    transition: 500ms;
}

nav ul {
    transition: 500ms;
    
}

#ideias {
    width: 50%;
    text-align: center;
    background-color: rgba(67, 94, 243,0.7);
    padding: 20px;
    border-radius: 8px;
    transition: 500ms;
}

#ideias:hover {
    background-color: rgb(67, 94, 243) ;
    transition: 500ms;
}

#ideias img {
    width: 70px;
    height: 70px;
}

#conteudo {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    transition: 500ms;
}

footer a {
    text-decoration: none;
    color: darkgoldenrod;
    transition: 500ms;
}

footer a:hover {
    font-weight: bold;
    font-size: 18px;
    transition: 500ms;
}
