body {
    background-image: linear-gradient(to right,#546A76, #636164);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 100vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




