@media (min-width: 315px) and (max-width: 767.98px) { 
    body {
        background-image: linear-gradient(to right,#546A76, #413f42);
        
    }
    
    .conteudo .links .item {
        border: 1px solid rgba(207, 201, 201, 0.267);
        width: 300px;
        margin-bottom: 10px;
        font-size: 20px;
        padding: 5px 20px;
    }

    footer {
        display: none;
    }

    .container {
        width: 100vw;
        height: 95vh;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) {

    body {
        background-image: linear-gradient(to right,#546A76, #413f42);
    }

    .conteudo .links .item {
        width: 450px;
        margin-bottom: 10px;
        font-size: 20px;
        padding: 5px 20px;
    }

    .container {
        width: 100vw;
        height: 95vh;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) { 

    body {
        background-image: linear-gradient(to right,#546A76, #413f42);
    }    

    .conteudo .links .item {
        width: 400px;
        margin-bottom: 20px;
        padding: 5px 20px; 
  }

  .container {
    width: 100vw;
    height: 95vh;
}

   }

   @media (min-width: 1200px) { 
    .conteudo .links .item {
        width: 450px;
        margin-bottom: 10px;
        font-size: 30px; 
        padding: 5px 20px;
  }

  .container {
    width: 100vw;
    height: 95vh;
}
    }
