/* CONFIGURACOES GLOBAIS */

body {
    margin: 0;
    padding: 0;
    background: url(fundo-novo1.jpg) fixed no-repeat center;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

p, H1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

#container {
    width: auto;
    margin:0;
}

header {
    width: auto;
    color: #fff;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
}

.voltar {
    width: 120px;
    height: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

a.voltar {
    text-decoration: none;
    color: #fff;
    transition: 500ms;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
}

a.voltar:hover {
    background-color: rgba(255,255,255,0.8);
    color: #fff;
    font-size: 18px;
    transition: 500ms;
}


header img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    padding-left: 20px;
}

header h4 {
    font-size: 23px;
}

#menu1 { 
    width: 400px;
    margin: 50px 20px;
    background-color: rgba(255,255,255,0.3);
    padding: 1px;
    text-align: left;
    margin-bottom: 100px;
    transition: 500ms;
}

#menu1 a {
    height: 50px;
    text-decoration: none;
    display: flex;
    line-height: 50px;
    letter-spacing: 0.8;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-indent: 30px;
    transition: 500ms;
}

#menu1 a:hover {
    background-color: rgba(255,255,255,0.3);
    transition: 500ms;
}

footer {
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    padding: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: 500ms;
}

footer a:hover {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    transition: 500ms;
}



