/*CONFIGURACOES GLOBAIS*/

#container {
    width: 900px;
    margin: 10px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/*CONFIGURACOES TOPO E MENU*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    width: 213px;
    height: 57px;
}

nav {
    font-family: 'Karla', sans-serif;
}

nav ul {
    display: flex;
    background: rgb(44, 43, 122);
    border-radius: 5px;
}

nav li {
    padding: 10px;
    transition: 500ms;
}

nav li:hover {
    background:rgb(5, 33, 92);
    border-radius: 5px;
    transition: 500ms;
}

nav a {
    color: #fff;
    letter-spacing: 0.5px;
    transition: 500ms;
}

nav a:hover {
    color: #000;
    transition: 500ms;
    font-weight: bold;
}

/*CONFIGURACOES CONTEUDO SITE*/

section#logo {
    overflow: hidden;
    margin-bottom: 5px;
}

section#logo img {
    border-radius: 7px;
}

section.conteudo h2 {
    color: #fff;
    padding: 5px;
    font-family: 'Karla', sans-serif;
}

section.conteudo p {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 10px;
    text-align: justify;
    color: #fff;
    opacity: 0.7;
}

section.conteudo {
    padding: 10px;
    border-radius: 7px;
    background: rgba(18, 24, 53, 0.952);
}

section.conteudo ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

section.conteudo ul li {
    font-family: 'Karla', sans-serif;
    font-size: 0.9em;
    padding: 2px;
    font-weight: bold;
    opacity: 0.7;
    color: #fff;
}

/*CONFIGURACOES FORMULARIO*/

fieldset {
    border: 2px solid rgb(44, 41, 66);
    border-radius: 5px;
}

legend {
    font-family: 'Karla', sans-serif;
    padding: 5px;
}


label {
    font-family: 'Karla', sans-serif;
    color: rgb(4, 15, 116);
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    margin-bottom: 15px;
    width: 300px;
    height: 25px;
    padding-left: 30px;
    background: none;
    border: none;
    outline: none;
    font-family: 'Karla', sans-serif;
    
}

input#nome {
    border-bottom: 1px solid rgb(0, 2, 14);
    background: url("../image/user.svg") no-repeat;
    background-position: 5px;
    background-size: 20px;
}

input#email {
    border-bottom: 1px solid rgb(0, 2, 14);
    background: url("../image/email.svg") no-repeat;
    background-position: 5px;
    background-size: 20px;
}

input#assunto {
    width: 200px;
    border-bottom: 1px solid rgb(0, 2, 14);
    background: url("../image/assunto.svg") no-repeat;
    background-position: 5px;
    background-size: 20px;
}

textarea {
    border: 1px solid rgb(0, 2, 14);
    width: 300px;
}

input#submit {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    padding: 0;
    background-color: rgb(44, 41, 66);
    color: #fff;
    cursor: pointer;
    transition: 500ms;
    border-radius: 7px;
}

input#submit:hover {
    background: rgb(94, 107, 228);
    transition: 500ms;
    color: #000;
}

footer {
    margin-top: 5px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: rgba(18, 24, 53, 0.952);
}

footer span {
    font-family: 'Karla', sans-serif;
    font-size: 0.9em;
    color: #fff;
}



