@keyframes animaBloco {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: scale(1.10);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;

}

body {
    background-color:#C1CFDA;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    width: 15em;
    height: 2.5em;
    padding: 0.2em;
    margin-bottom: 0.5em;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

ul li.primary {
    animation-name: animaBloco;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    transition: 300ms;
}

a {
    text-decoration: none;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: 300ms;
}

#container #perfil {
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container #perfil img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    transition: 600ms;
}

#container #perfil img:hover {
    transform: rotate(1080deg)
}



#container #perfil p {
    color:#70163C ;
    transition: 300ms;
    padding-top: 20px;
}

#container #perfil p:hover {
    border-bottom: 1px dotted #70163C;
}
#content {
    box-sizing: border-box;
}

#content .lista{
    background-color: #20A4F3;
    border-radius: 20px;
    width: 20em;
    height: 2.5em;
    margin-bottom: 0.9em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 400ms;
}

#content .lista:hover {
    background-color:#C1CFDA;
    cursor: pointer;
    transform: scale(0.9);
    transition: 150ms;
}

#content .lista a {
    color: #03191E;
    font-size: 1.2em;
}

footer {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    display: flex;
    color: #000;
}

