@charset "UTF-8";

@keyframes animaBloco {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: scale(1.10);
    }
}

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right,#546A76, #FCF7FF );
    background-attachment: fixed;
    
}

#msg,
#hora {
    color: #fff;
}


.container {
    margin-top: 5px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto {
    margin-top: 5px;
    width: 120px;
    border-radius: 75px;
    opacity: 0.6;
}

ul.lista li {
    width: 18em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0.5em;
    border: 1px solid rgba(10, 0, 0, 0.267);
    cursor: pointer;
}

ul.lista li.primary { 
    animation-name: animaBloco;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: 300ms;
}

ul.lista li a {
    color: rgb(59, 58, 58);
    text-decoration: none;
    
}

ul.lista li:hover {
    background-color: rgba(216, 224, 224, 0.425);
    color: #000;
}




i {
    color: #fff;
}


footer.rodape {
    margin-top: 20px;
    color: rgb(39, 38, 38);
}

footer.rodape a {
    color: rgb(7, 6, 6);
    text-decoration: none;
}