body {
    margin: 0;
    background: #e5e5e5;
    color: #25282b;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#container-mobile {
    width: 80%;
    height: auto;
    margin: 20px auto;
}

#menu {
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #25282b;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    transition: 500ms;
}

#menu a:hover {
    color: #ff5e84;
    font-size: 20px;
    transition: 500ms;
}

#intro {
    width: 350px;
    text-align: center;
    padding: 5px;
    text-align: center;
    margin-right: 20px;
    margin: 30px auto;
    align-self: center;
    transition: 500ms;
    margin-top: -60px;
}

header img {
    width: 350px ;
    height:375px ;
    transition: 500ms;
}

header img:hover {
    background: url(../imagem/hover.png);
    transition: 500ms;
}

.ideias {
    min-width: 400px;
    width: 50%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 9px;
    box-shadow: 0 4px 16px -8px #000;
    transition: 600ms;
    margin: 0 auto;
    margin-bottom: 30px ;
}

.ideias img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}


.descricao {
    width: 92%;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0.9;
    transition: 500ms;
    font-size: 14px;

}

.conteudo a {
    text-decoration: none;
    color: #ff5e84;
    transition: 400ms;
}

.ideias:hover {
    background: #e5e5e5;
    transition: 600ms;
}

.descricao:hover {
    transition: 500ms;
}



.conteudo a:hover {
    font-weight: bold;
    transition: 400ms;

}


footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #25282b;
    transition: 500ms;
    font-size: 15px;
}

footer a:hover {
    font-weight: bold;
    font-size: 17px;
    transition: 500ms;
}
