* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row .card  {
    width: 320px;
    height: 100%;
    box-shadow: 6px -2px 10px -2px rgb(126, 117, 117);
    margin: auto;
}


footer  {
    width: 100%;
    margin-bottom: -0.5em;
    position: fixed;
    bottom: 0%;
    background-color: rgba(255,255,255,0.3);
}

#principal {
    margin-bottom: 100px;
}


