body {
    color: #fff;
}


#home-cartaz {
    padding: 20px;
    margin-top: 30px;
}

.caixa1 {
    width: 350px;
}

#box-cartaz .conteudo-cartaz{
    position: relative;
    font-family: Arial;
    box-sizing: border-box;
    background: #fff;
    width: 210mm;
    height: 150mm;
    border: 1px solid #fff;
    color: #000;
}

.conteudo-cartaz {
    padding: 20px;
}

.conteudo-cartaz h1 {
    font-size: 3.9rem;
    font-weight: bold;
}

.conteudo-cartaz h3 {
    font-size: 2.9rem;
    font-weight: bold;
}

#box-cartaz .conteudo-cartaz #medida-produto {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    font-weight: bold;
}

#box-medida p#medida-produto  {
    font-size: 1.2rem;
}

#box-cartaz .conteudo-cartaz p {
    justify-content: center;
}

#box-cartaz .conteudo-cartaz #recebe-preco-por {
    color: red;
    position: absolute;
    top: 60%;
    
}


#box-cartaz .conteudo-cartaz #recebe-preco-por h1 {
    color: rgba(15, 14, 14, 0.959);
    font-size: 165px;
    text-align: left;
    font-weight: bold;
}


#box-cartaz .conteudo-cartaz #recebe-preco-de h1 {
    position: absolute;
    top: 40%;
    font-weight: bold;
}

#recebe-preco-por h1 small {
    font-size: 50px;
    font-weight: bold;
}

.preco-de {
    font-weight: bold;
}

#box-cartaz .conteudo-cartaz #campoValidade {
    position: absolute;
    top: 93%;
    font-weight: bold;
}


.caixa-l {
    border: 1px solid rgba(46, 45, 45, 0);
    box-shadow: 1px 1px 20px rgba(207, 202, 202, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}

.caixa-ls {
    border: 1px solid rgba(46, 45, 45, 0);
    box-shadow: 1px 1px 20px rgba(207, 202, 202, 0.089);
}

