body {
    background: #343a40;
    transition: 2s;
}

header {
    
    font-family: 'Archivo', sans-serif;

}

input {
    transition: 2s;
}

.navbar-brand .logo {
    font-size: 1.8rem;
}

/*
Barra de navegacao Menu
*/

.navbar-expand-sm .navbar-nav .nav-link, .dropdown {
    text-transform: uppercase;
    margin: 0 1.7rem;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    color: rgb(6, 94, 116);
    font-weight: bold;
    transition: 2s;
    padding-bottom: 10px;
}

.navbar-expand-sm .navbar-nav .nav-link, .dropdown, .dropdown-item {
    text-align: center;
}

.dropdown .btn {
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 1px solid red;
}

/*
Conteudo pagina Home
*/

section#conteudo1 p {
    font-size: 3rem;
    line-height: 3.9rem;
    color: #fff;
}

li.dropdown {
    border-radius: 0.5rem;
}

.dropdown-item {
    font-size: 0.9rem;
    color: #17a2b8;
    padding: 0.7rem;
    border-radius: 0.6rem;

}

a.dropdown-item {
    font-size: 0.6rem;
}

a.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/*
CAMPOS DOS CALCULOS
*/



#box-calc label {
    margin-right: 0.5rem;
    color: #dad4d4d3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input {
    text-align: center;
}

#box-calc label {
    font-family: 'Archivo', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.9rem;
}

#box-calc input {
    color: #010008;
    font-weight: 600;
    font-size: 1.2rem;
    
}

.btn-space {
    margin-top: 50px;
}

#rodape {
    font-family: 'Archivo', sans-serif
}


/*
Light Mode Toggle
*/

.light-mode {
    background:#021b35;
}

.light-mode2 {
    color: red;
}

.box-horario p#horario {
    color: #cecece;
    font-size: 2.5rem;
}
