body {
    background: url('https://source.unsplash.com/random/1000x600') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.box1 {
    width: 100vw;
    height: 100vh;
}

#horario {
    font-family: 'Anton', sans-serif;
    margin-top: -120px;
    transition: 3s;
    font-size: 7rem;
    opacity: 0.8;
    color: rgb(2, 31, 36);
    letter-spacing: 15px;
}



a.dropdown-item:hover {
    color: #02000c;
}

nav.menu-home a {
    text-decoration: none;
    color: rgba(5, 45, 119, 0.644);
    opacity: 0.7;

}



