@media (max-width: 575.98px) { 
    .btn {
        font-size: 0.7rem;
    }

    .font-h3 {
        font-size: 1.3rem;
    }

    #rodape {
        border-top: 1px solid #1b1a1a4d;
        padding: 20px;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 50px;
    }

    .navbar-expand-sm .navbar-nav .nav-link, .dropdown {
        text-align: center;
    }

    .navbar-expand-sm .navbar-nav .nav-link, .dropdown, .dropdown-item {
        text-align: center;
    }

    section#conteudo1 p.text-home {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }

    #get-hours p.data-hora-sys, h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #fff;
    }

    #get-hours {
        margin-top: 25px;
        border-top: 1px dashed #707a85 ;
    }

    .box-horario p#horario {
        font-size: 2rem;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    #rodape {
        border-top: 1px solid #1b1a1a4d;
        padding: 20px;
        font-size: 0.9rem;
        text-align: center;
    }

    #get-hours p.data-hora-sys, h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #fff;
    }

    #get-hours {
        margin-top: 25px;
        border-top: 1px dashed #707a85 ;
    }

 }


@media (min-width: 768px) and (max-width: 991.98px) { 

 }


@media (min-width: 992px) and (max-width: 1199.98px) {

 }


@media (min-width: 1200px) { 
    footer {
        border-top: 1px solid #221e1e41;
        margin-top: 200px;
        padding-top: 50px;
    }
 }